.search-bar{
    position: relative;
    top:7rem;
    height:3.2rem;
    gap:8px;
    
}

.ntext{
    float: left;
    margin-right: 20rem;
    margin-left: 9rem;
}
.news-input{
    width:24rem;
    height:2rem;
    padding-inline: 1.2rem;
    border-radius: 0.4rem;
    border: 2px solid #bbdbe2;
}
.search-button{
    background-color: blueviolet;
    color:white;
    padding: 8px 24px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search-button:hover{
    background-color: blue;
}
.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
    width:98%;
    margin:0 1rem 0 1rem;
    
}

.card{
    width:360px;
    min-height: 400px;
    box-shadow:0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
    
}
.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}
.card-header img{
    width:100%;
    height:180px;
    object-fit: cover;
}
.card-content{
    padding: 12px;
}
.news-source{
    margin-block:12px;
}
footer{
    margin-top: 5px;
    width:100%;
    position: sticky;
   top:1500%;
    background: #3586ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    position:fixed;
    display: none;

  }


  main{

    margin-bottom: 10px;
  }

  @media(max-width:640px){
    
    .search-bar{
        position: relative;
        top:5rem;
        height:2.9rem;
        gap:2px;
        width:50%;
        margin:0 1rem 0 0.3rem ;
        
        
        
        
    }
    .ntext{
       
        font-size: 0.8rem;
        width:100%;
        margin-left: 0;
        margin-right: 0;
       
    }
    .cards-container{
        position: relative;
        top:13rem;
        width:100%;
      
        
        
    
    }
}



